
  body {
    font-family: 'Fira Mono', monospace;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
    margin: auto;
    width: 75%;
  }
  .logo img {
    width: 90px;
  }
  
}
.section-namas .namas-text {
  width: 90%;
  margin-left: 5%;
  padding-top: 20%;
  margin-right: 20%;
  width: 800px;
}
  @media only screen and (max-width: 768px) {
    nav {
    flex-direction: row;
    justify-content: space-between;   
 }
    nav .logo {
          align-self: center;
          width: 10px;
          height: 10px;

    }
    nav .nav-ikonos,
    nav .nav-links {
      display: none;

    }
    nav .bars {
        font-size: 40px;
        align-self: center;
        display: block;
    }
    nav .bars:hover {
      color: #f5ba4b;
    }

    nav {
      width: 90%;
      height: 70px;
    }
    nav .logo {
          align-self: center;
    }
  }
  .nav-ikonos a {
    color: #212529;
    margin-left: 20px;
    font-size: 17px;
  }
  .nav-ikonos a:hover {
      color:#f5ba4b;
  }
  
  .nav-ikonos {
    padding-left: 10px;
    font-size: 17px;
  }
  
  .nav-links {
    margin-left: auto;
  }
  li {    
    padding-left: 30px;
    display: inline-block;

  }
  a {
    color: #212529;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
  }
  a:hover {
    color: #f5ba4b;
  }
  
  .section-image {
    background-image: url("./images/bg.jpg");
    height: 850px;
    background-size: cover;
    background-position: center;
  }
  .section-image {
    height: 850px;
    background-size: cover;
  }
  .section-ref button {
    color: #212529;
    font-weight: bold;
    font-size: 10px;
  }
  @media only screen and (max-width: 768px) {
    .section-image {
      height: 700px;
      background-size: cover;
      background-position: center;
    }
    .section-image .image-text {
      width: 90%;
      margin-left: 5%;
      padding-top: 20%;
    }
    .section-image .image-text p {
      color: white;
      font-weight: bolder;
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
    }
    .section-image .image-text h1 {
      color: white;
      margin: 2rem 0;
      font-weight: bold;
      font-size: 48px;
    }
  }
  
  .image-text {
    width: 25rem;
    margin-left: 15%;
    padding-top: 20%;
  }
  
  .image-text h1 {
    color: white;
    margin: 3rem 0;
    font-weight: bold;
    font-size: 30px;
  }
  
  .image-text p {
    color: white;
    opacity: 0.7;
    font-weight: small;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  button {
    border: #f5ba4b solid 2px;
    opacity: 1;
    padding: 10px 15px;
    margin-top: 3rem;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    word-spacing: 3px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .container-info {
    padding-top: 1em;
    padding-bottom: 3em;
    width: 72%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    justify-items: center;
    text-align: center;
    color: #212529;
  }
  
  @media only screen and (max-width: 768px) {
    .container-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 90%;
    }
  }
  
  .info-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 /3;
  }
  
  .info-two {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .info-three {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .info-four {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  
  .section-info div i {
    color: #f5ba4b;
    padding-top: 0.5em;
    font-size: 30px;
  }
  
  .section-info div i:hover {
    color: #a16d0c;
    padding-top: 0.5em;
    font-size: 30px;
  }
  
  .section-info div h2,
  h3 {
    padding: 1.5em 0;
  }
  
  @media only screen and (max-width: 768px) {
    .section-info h2 {
      font-weight: bold;
      font-size: 35px;
    }
  }
  
  .section-ref {
    background-color: #f8f9fa;
    color: #212529;
    width: 100%;
    margin: auto;
    padding: 5em 0;
  }
  
  .section-ref h3 {
    padding-left: 15%;
  }
  
  @media only screen and (max-width: 768px) {
    .section-ref h3 {
      display: inline-block;
      padding-left: 5%;
      font-weight: bold;
      font-size: 3em;
      width: 90%;
    }
  }
  
  .section-ref h3 span {
    color: #f5ba4b;
  }
  
  .container-ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 2;
    width: 70%;
    margin: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .container-ref {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 90%;
    }
  }
  
  .section-ref button {
    color: #212529;
    font-weight: bold;
    font-size: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .section-ref button {
      font-size: 12px;
      margin-bottom: 3em;
    }
  }
  
  .ref-one {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 70%;
    font-size: 12px;
    font-weight: bolder;
    padding-right: 2em;
  }
  
  @media only screen and (max-width: 768px) {
    .ref-one {
      width: 100%;
      font-size: 16px;
      font-weight: bolder;
    }
  }
  
  .ref-two {
    width: 30%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    border-left: #f5ba4b solid 1px;
    padding-left: 1em;
    font-size: 13px;
    font-weight: bolder;
  }
  
  @media only screen and (max-width: 768px) {
    .ref-two {
      width: 90%;
      font-size: 16px;
      font-weight: bolder;
    }
  }
  
  .align-img-text {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .face {
    width: 30px;
    border-radius: 50%;
  }
  
  .face-text {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .section-inside {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .section-inside {
      width: 90%;
    }
  }
  
  .section-map p,
  .section-inside p {
    width: 40%;
    margin: 1rem auto;
    font-size: 12px;
    font-weight: bolder;
  }
  
  @media only screen and (max-width: 768px) {
    .section-map p,
    .section-inside p {
      font-size: 18px;
      width: 100%;
      margin: 3rem 0;
    }
  }
  
  .section-inside img {
    width: 100%;
  }
  
  .container-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .container-inside img {
    max-width: 24%;
    height: auto;
  }
  
  .arrows {
    position: absolute;
    right: 15%;
    background-color: white;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  
  .arrows:hover {
    color: #9a9a9a;
  }
  
  @media only screen and (max-width: 768px) {
    .container-inside img:nth-child(1n + 3) {
      display: none;
    }
    .container-inside img {
      max-width: 49%;
      height: auto;
    }
  }
  
  .section-map {
    width: 70%;
    margin: auto;
    margin-top: 12rem;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .section-map {
      width: 90%;
    }
  }
  
  iframe {
    margin: 3rem 0;
    width: 100%;
    height: 400px;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    height: 200px;
  }
  
  .footer-grid {
    width: 70%;
    padding-top: 6rem;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto, auto;
        grid-template-columns: auto, auto;
    -ms-grid-rows: auto, auto;
        grid-template-rows: auto, auto;
    gap: 4px 0;
  }
  
  .footer-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
    .footer-one img {
      width: 80px;
      display: flex;
    }
  } 
  
  .footer-two,
  .footer-two a {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    color: #e6e6e6;
    text-decoration: none;
    font-weight: bold;
    text-transform: none;
    font-size: 1px;
    letter-spacing: 1px;
  }
  
  .footer-two:hover,
  .footer-two a:hover {
    color: #f5ba4b;
  }
  
  .footer-two ul li:last-child {
    padding-right: 0;
  }
  
  .footer-three {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    font-size: 11px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .footer-four,
  .footer-four i {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    color: #f5ba4b;
    font-size: 16px;
  }
  .footerio-tekstas {
    color: black;
  }
  .footer-four:hover,
  .footer-four i:hover {
    color: black;
  }
  
  .footer-four a:nth-child(2) {
    margin: 0 1em;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 2rem;
      width: 100%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .footer-grid > div {
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .footer-two ul li:first-child {
      padding-left: 0;
    }
  }